.row
  .col-lg-3.col-xs-6
    // small box
    .small-box.bg-green
      .inner
        h3
          | #{numfiles}
        |              
        p Files
      |             
      .icon
        i.ion.ion-laptop
      |             
      a.small-box-footer.tomanageapp(href='#')
        | Upload Files 
        i.fa.fa-arrow-circle-right
  // ./col
.row
  .col-lg-12
    .box.box-primary
      .box-header.ui-sortable-handle(style='cursor: move;')
        i.fa.fa-user.fa-fw
        |               
        h3.box-title Checker
        |               
        .box-tools.pull-right
          button.btn.bg-teal.btn-sm(type='button', data-widget='collapse')
            i.fa.fa-minus
          |                 
          button.btn.bg-teal.btn-sm(type='button', data-widget='remove')
            i.fa.fa-times  
      .box-body 
        table.table.table-condensed
          tbody
            tr
              th #
              |           
              th Plan Name
              |                   
              th Drawing file
              |                   
              th CSV file
              |  
              th Status
              | 
              th Check
              |   
            each element in myfiles
              tr
                td=element.ind
                |
                td=element.planname
                |
                td=element.file
                |
                td=element.filecsv
                |
                if element.checker == 2
                  td.button.btn-danger Rejected
                else
                  if element.checker == 1
                    td.button.btn-success Accepted
                  else
                    td.button.btn-primary Waiting
                td
                  button.button.btn.btn-block.btn-lg.btn-primary.tocheckersubmitbtn(type='button' cfile=element.filecsvreal dfile=element.filereal)
                    | Check
                

    //.box

script.
  $(".tocheckersubmitbtn").click(function(){checkersubmit($(this).attr("cfile"),$(this).attr("dfile"));})

